<%
# app/views/aiagents/contact/_index.html.erb
#
# Example:
#   render partial: 'aiagents/contact/index'
#
# Instance Variables:
#   (req) @contact: (Contact)
#
# Local Variables:
#   none
#
-%>
<div class="section-block" id="aiagents_index_content">
  <%= render partial: 'aiagents/contact/index_content' %>
</div>
