<%
# app/views/trackable_links/_index.html.erb
#
# Example:
# 	render partial: "trackable_links/index"
#
# Required Instance Variables:
# 	@trackable_links: (TrackableLinks)
#
# Required Local Variables:
#   none
#
-%>
<div class="card-deck-xl card-margins-mobile">
  <div class="card card-fluid ml-0">
    <h6 class="card-header d-flex justify-content-between">
      <span class="my-auto"><i class="fa fa-link mr-2"></i>Trackable Links <span class="badge"><%= @trackable_links.count -%> / <%= current_user.client.trackable_links_count -%></span></span>
      <span>
      </span>
    </h6>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th class="text-left"> Trackable Link </th>
              <th class="text-left d-none d-md-table-cell"> Link To... </th>
              <th class="text-left d-none d-md-table-cell"> Created </th>
              <th style="width:200px; min-width:200px;"></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'trackable_links/trackable_link', collection: @trackable_links -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $(document).off('click', '.button_delete_trackable_link');
    $(document).on('click', '.button_delete_trackable_link', function(e) {
      e.preventDefault();

      var trackable_link_id   = $(this).data('id');
      var trackable_link_name = $(this).data('name');

      ChiirpAlert({
        'body':'Deleting "' + trackable_link_name + '" can NOT be un-done. Is it your intention to delete this Trackable Link?',
        'buttons':[{ label: '<i class="fa fa-thumbs-down"></i> No, Wait!', id: 'button_no_wait'}, {label: '<i class="fa fa-thumbs-up"></i> Yup, Go for it!', id: 'button_do_it'}],
        'type':'danger',
        'persistent':true
      });

      $(document).off('click', '#button_do_it');
      $(document).on('click', '#button_do_it', function(e) {
        e.preventDefault();

        $.ajax({
          type: 'DELETE',
          dataType: 'script',
          url: '/trackable_links/' + trackable_link_id
        });
      });
    });
  });
</script>
