<%
  # app/views/messages/texts/_payment_request_options.html.erb
  #
  # Example:
  #   render partial: 'messages/texts/payment_request_options', locals: { presenter: Messages::Text::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Messages::Text::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Messages::Text::Presenter)
  return unless presenter.show_payment_request?
-%>
<div class="form-group" id="payment_request_options_<%= presenter.message_id -%>" style="display:none;">
  <div class="input-group input-group-alt flatpickr" value="">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= text_field_tag 'message[payment_request]',
                       '',
                       {
                         id:           "text_payment_request_#{presenter.message_id}",
                         class:        'form-control',
                         placeholder:  'Request amount',
                         disabled:     presenter.disabled?,
                         type:         'number',
                         min:          '0',
                         step:         '0.01',
                         autocomplete: 'off'
                       } %>
  </div>
</div>
