<%
  # app/views/triggers/forms/_115.html.erb
  #
  # Example:
  #   render partial: "triggers/forms/115", locals: { presenter: Campaigns::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Campaigns::Presenter)
  #
  # start actions immediately (no trigger)
  #
  return unless local_assigns.dig(:presenter).is_a?(Campaigns::Presenter) && presenter.trigger.is_a?(Trigger)
-%>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <small class="text-muted">
      Campaigns that Start Immediately...
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Will fire thier first Trigger as soon as they are applied.</li>
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Do NOT require additional Trigger settings.</li>
      </ul>
    </small>
  </div>
</div>

<%= render partial: 'triggers/forms/repeat', locals: { presenter: } %>
