<%
  # app/views/triggers/forms/_134.html.erb
  #
  # Example:
  #   render partial: 'triggers/forms/134.html', locals: { presenter: Campaigns::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Campaigns::Presenter)
  #
  # start actions on a Contacts::Estimate or Contacts::Job date (ServiceTitan)
  #
  return unless local_assigns.dig(:presenter).is_a?(Campaigns::Presenter) && presenter.trigger.is_a?(Trigger)
-%>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <small class="text-muted">
      Campaigns that Start on a ServiceTitan Estimate or Job Date...
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Are dynamic (they get their date from an Estimate or Job date).</li>
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Will locate the last saved Estimate or Job and fire the first Trigger as defined in Actions.</li>
      </ul>
    </small>
  </div>
</div>

<%= bootstrap_select_tag(
      field:        'data[client_custom_field_id]',
      label:        { title: 'Date Field' },
      html_options: { disabled: presenter.campaign_disabled? },
      options:      { grouped_array: presenter.trigger_options_for_client_custom_field_id('servicetitan', %w[estimates jobs]), selected: presenter.trigger_client_custom_field_id }
    ) %>
