<%
  # app/views/triggers/forms/_142.html.erb
  #
  # Example:
  #   render partial: 'triggers/forms/142.html', locals: { presenter: Campaigns::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Campaigns::Presenter)
  #
  # start actions leading up to a Contacts::Invoice due_date (Jobber)
  #
  return unless local_assigns.dig(:presenter).is_a?(Campaigns::Presenter) && presenter.trigger.is_a?(Trigger)
-%>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <small class="text-muted">
      Campaigns that Lead up to a Jobber Invoice Due Date...
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Are dynamic (they get their date from a Invoice due date).</li>
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Will fire thier first Trigger as defined in Actions leading up to the date.</li>
      </ul>
    </small>
  </div>
</div>
