<%
  # app/views/triggers/forms/_145.html.erb
  #
  # Example:
  #   render partial: "triggers/forms/145", locals: { presenter: Campaigns::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Campaigns::Presenter)
  #
  # start actions leading up to a ContactCustomField date
  #
  return unless local_assigns.dig(:presenter).is_a?(Campaigns::Presenter) && presenter.trigger.is_a?(Trigger)
-%>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <small class="text-muted">
      Campaigns that Lead up to a Custom Field Date...
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Are dynamic (they get their date from a Custom Field).</li>
        <li><span class="fa-li"><i class="fa fa-check text-success"></i></span>Will fire thier first Trigger as defined in Actions leading up to the date.</li>
      </ul>
    </small>
  </div>
</div>

<%= bootstrap_select_tag(
      field:        'data[client_custom_field_id]',
      label:        { title: 'Custom Field (Date type)' },
      html_options: { disabled: presenter.campaign_disabled? },
      options:      { array: presenter.client.client_custom_fields.where(var_type: 'date').pluck(:var_name, :id), selected: presenter.trigger_client_custom_field_id }
    ) %>
