<%
  # app/views/integrations/cardx/_overview.html.erb
  #
  # Example:
  #   render partial: 'integrations/email/v1/overview', locals: { presenter: Presenter }
  #
  # Required Instance Variables:
  #   @client_api_integrations: (ClientApiIntegrations)
  #
  # Required Local Variables:
  #   none
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Email::V1::Presenter.new(client_api_integration: @client_api_integration)
-%>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Overview</h6>

  <%= render partial: 'integrations/common/overview', locals: { integration: 'email' } %>

  <div class="card-body">

    <div class="section-block">
      <div class="metric-row metric-flush">

        <div class="col-4 py-2">
          <%= link_to(edit_integrations_email_v1_connections_path, { class: 'metric metric-bordered align-items-center', id: 'link_connections', remote: true }) do %>
            <h2 class="metric-label">Email</h2>
            <p class="metric-value h3">
              <span class="value">
                <% if presenter.valid_credentials? && presenter.connected? %>
                  <i class="fa fa-link text-success"></i>
                <% else %>
                  <i class="fa fa-link text-danger"></i>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>

        <% if presenter.connected? %>
          <div id="spinner" class="col-4 py-2">
            <div class="metric metric-bordered align-items-center">
              <p class="metric-value h3">
                <span><%= bootstrap_spinning_logo %></span>
              </p>
            </div>
          </div>
          <script>
            $.ajax({
              type: 'GET',
              dataType: 'script',
              url: '<%= integrations_email_v1_stats_path %>'
            })
          </script>
        <% end %>

      </div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $('.nav-link').removeClass('active');
    $('#link_overview').addClass('active');
    $('#breadcrumb').hide();
</script>
