<%
  # app/views/integrations/cardx/_page_navs.html.erb
  #
  # Example:
  #   render partial: 'integrations/cardx/page_navs', locals: { presenter: Presenter }
  #
  # Required Instance Variables:
  #   @client_api_integrations: (ClientApiIntegrations)
  #
  # Required Local Variables:
  #   none
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Cardx::Presenter.new(client_api_integration: @client_api_integration)
-%>

<div class="nav-scroller">
  <div class="nav nav-center nav-tabs">
    <%= link_to 'Connection', edit_integrations_cardx_connections_path, { class: 'nav-link', id: 'link_connections', remote: true } %>
    <%= link_to 'Events', integrations_cardx_events_path, { class: 'nav-link', id: 'link_events', remote: true } if presenter.valid_credentials? %>
    <%= link_to 'ServiceTitan', edit_integrations_cardx_service_titan_path, { class: 'nav-link', id: 'link_service_titan', remote: true } if presenter.valid_credentials? && presenter.service_titan_available?(current_user) %>
  </div>
</div>
