<%
  # app/views/integrations/pcrichard/v1/_overview.html.erb
  #
  # Example:
  #   render partial: 'integrations/pcrichard/v1/overview', locals: { presenter: Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Presenter)
  #
  presenter = local_assigns.dig(:presenter)
-%>
<div class="card-deck-xl card-margins-mobile">
  <h6 class="card-header">Overview</h6>

  <%= render partial: 'integrations/common/overview', locals: { integration: 'pcrichard' } %>

  <div class="card-body">

    <div class="section-block">
      <div class="metric-row metric-flush">

      </div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $('.nav-link').removeClass('active');
    $('#link_overview').addClass('active');
    $('#breadcrumb').hide();
  });
</script>
