<%
# app/views/clients/onboard/edit.html.erb
#
# Example:
# 	render "clients/onboard/edit"
#
# Required Instance Variables:
# 	@client: (Client)
#
# Required Local Variables:
#   none
#
-%>
<div class="container mb-3" style="background-color:white;">

  <div class="row pt-3">
    <div class="col-xl-3 col-lg-12 pt-0">
      <h4>Let's Get Going!</h4>
    </div>
    <div class="col-xl-9 col-lg-12 pt-0" id="client_onboard">
      <!-- CLIENT ONBOARD -->
    </div>
  </div>

  <div class="row pt-3 border border-right-0 border-left-0 border-bottom-0">
    <div class="col-xl-3 col-lg-12 pt-0">
      <h4><i class="fa fa-building"></i> Company Info</h4>
    </div>
    <div class="col-xl-9 col-lg-12 pt-0" id="client_body">
      <!-- COMPANY INFO -->
    </div>
  </div>

  <div class="row pt-3 border border-right-0 border-left-0 border-bottom-0">
    <div class="col-xl-3 col-lg-12 pt-0">
      <h4><i class="fa fa-hashtag"></i> Phone Numbers</h4>
    </div>
    <div class="col-xl-9 col-lg-12 pt-0" id="twnumbers_form">
      <!-- PHONE NUMBERS -->
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#navbar_inner_container').html('<%= j render partial: 'layouts/dashboard/navbar_inner/navbar_inner', locals: { heading: "#{I18n.t('tenant.name')} Onboarding", description: "Welcome to #{I18n.t('tenant.name')}! Let's get you going right away!", show_toggler: false } -%>');

    // CLIENT ONBOARD
    $.ajax({
      method: 'GET',
      dataType: 'script',
      url: '<%= edit_client_onboard_path(@client) -%>'
    });

    // COMPANY INFO
    $.ajax({
      method: 'GET',
      dataType: 'script',
      url: '<%= edit_client_path(@client) -%>'
    });

    // PHONE NUMBERS
    $.ajax({
      method: 'GET',
      dataType: 'script',
      url: '<%= client_twnumbers_path(@client.id, referer: 'dashboard', div_id: 'twnumbers_form') -%>'
    });
  });
</script>
