<%
# app/views/layouts/looper/common/aside/_show.html.erb
#
# Example:
#   render partial: 'layouts/looper/common/aside/show'
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   none
#
-%>
<aside class="app-aside app-aside-expand-md app-aside-light d-print-none">
  <div class="aside-content d-print-none">

    <%= render partial: 'layouts/looper/common/aside/user' %>
    <%= render partial: 'layouts/looper/common/aside/menu' %>
    <%= render partial: 'layouts/looper/common/aside/footer' %>
  </div>
</aside>
