<%
  # app/views/integrations/angi/v1/events/_show.html.erb
  #
  # Example:
  #   render partial: 'integrations/angi/v1/events/show', locals: { presenter: Integrations::Angi::V1::Events::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Integrations::Angi::V1::Events::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Angi::V1::Events::Presenter)
-%>
<%= render partial: 'layouts/alerts', locals: { models: [presenter.client_api_integration] } %>
<div class="card-deck-xl card-margins-mobile">
  <div class="card card-fluid ml-0">
    <div class="card-header nav-scroller">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to 'Events', integrations_angi_events_events_path, { class: 'nav-link event_nav_link active', id: 'link_events', data: { turbo: true, turbo_stream: true } } %>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <div class="card-deck-xl">
        <div class="card card-fluid ml-0" id="events_show_body">
          <%= render partial: 'integrations/angi/v1/events/index', locals: { presenter: } %>
        </div>
      </div>
    </div>>
  </div>
</div>
