<%
# app/views/quick_responses/_edit_footer.js.erb
#
# Example:
#   render partial: 'quick_responses/edit_footer'
#
# Instance Variables:
#   none
#
# Local Variables:
#   none
#
-%>
<%# link_to 'Cancel', quick_responses_path, remote: true, class: 'btn btn-secondary' %>
<%# <button id="save_button" class="btn btn-info">Save</button>
<script>
$(function () {
  $('#save_button').off('click');
  $('#save_button').on('click', function(){
    $('#quick_response_form').submit();
  });
});
</script> %>
