<%
# app/views/layouts/shared/_alert_modal.html.erb
#
# Example:
#   render partial: 'layouts/shared/alert_modal'
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   none
#
-%>
<div class="modal fade" id="alert_modal" tabindex="-1" role="dialog" aria-labelledby="modal_alert_aria_label" aria-hidden="true">
  <div class="modal-dialog" id="alert_modal_dialog" role="document">
    <div class="modal-content" id="alert_modal_content">
      <div class="modal-header" id="alert_modal_header">
        <!-- alert_modal_header -->
        <h5 class="modal-title" id="alert_modal_title">
          <!-- alert_modal_title -->
        </h5>
      </div>
      <div class="modal-body" id="alert_modal_body">
        <!-- alert_modal_body -->
      </div>
      <div class="modal-footer" id="alert_modal_footer">
        <!-- alert_modal_footer -->
      </div>
    </div>
  </div>
</div>
