<%
# app/views/layouts/modals/_video_modal.html.erb
#
# Example:
#   render partial: 'layouts/modals/video_modal'
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   none
#
-%>
<div class="modal fade" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="modal_video_aria_label" aria-hidden="true">
  <div class="modal-dialog" id="video_modal_dialog" style="margin:auto;padding:10px;" role="document">
    <div class="modal-content" id="video_modal_content">
      <div class="modal-header" id="video_modal_header">
        <!-- video_modal_header -->
        <h5 class="modal-title" id="video_modal_title">
          <!-- video_modal_title -->
        </h5>
      </div>
      <div class="modal-body" id="video_modal_body">
        <!-- video_modal_body -->
      </div>
      <div class="modal-footer" id="video_modal_footer">
        <!-- video_modal_footer -->
      </div>
    </div>
  </div>
</div>
