<%
  # app/views/aiagents/_form_contact_help.html.erb
  # 
  # Example:
  #   render 'form_contact_help', presenter: presenter
  # 
  # Required Instance Variables:
  #   none
  # 
  # Required Local Variables:
  #   presenter: (Uiagent::Presenter)
  # 
-%>

<div class="card-header border-0" id="form_contact_help">
  <button class="btn btn-reset collapsed prevent-default" type="button" data-toggle="collapse" data-target="#row_actions_fieldset_<%= presenter.agent.id -%>" aria-expanded="false" aria-controls="row_actions_fieldset_<%= presenter.agent.id -%>">
    <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
    <span>Contact Asks For Help</span>
  </button>
</div>
<div id="row_actions_fieldset_<%= presenter.agent.id -%>" class="collapse" aria-labelledby="aiagent_edit_accordion" data-parent="#aiagent_edit_accordion">
  <div class="card-body pt-0">
    <%= render partial: 'campaigns/action_fields', locals: { 
          client: presenter.agent.client,
          campaign_id: presenter.agent.help_campaign_id, campaign_id_field: 'agent[help_campaign_id]',
          stop_campaign_ids: presenter.agent.help_stop_campaign_ids, stop_campaign_ids_field: 'agent[help_stop_campaign_ids]',
          group: presenter.agent.help_group, group_id_field: 'agent[help_group_id]',
          tag: presenter.agent.help_tag, tag_id_field: 'agent[help_tag_id]',
          stage_id: presenter.agent.help_stage_id, stage_id_field: 'agent[help_stage_id]',
          first_trigger_types: [115, 135, 150, 152]
        } %>
  </div>
</div>
