<%
	# app/views/welcome/pricing.html.erb
	#
	# Example:
	# 	render partial: 'welcome/pricing'
	#
	# Required Instance Variables:
	# 	@package_page: (PackagePage)
	#
	# Required Local Variables:
	#   none
	#
  # Optional Local Variables:
  #   upgrade: (Boolean)
  #
  wp = local_assigns.dig(:welcome_presenter) || WelcomePresenter.new(package_page: @package_page, upgrade: local_assigns.dig(:upgrade).to_bool)
-%>
<section class="position-relative py-5 bg-light">
  <div class="container position-relative">
    <h2 class="text-center"> Simple Pricing </h2>
    <p class="lead text-muted text-center mb-5"> Easy lead generation & nurturing at an affordable price. </p>
    <div class="row">
      <%= render partial: 'welcome/package', collection: [1, 2, 3, 4], as: :package_position, locals: { welcome_presenter: wp } %>
    </div>
  </div>
</section>
