<div class="card-deck-xl card-margins-mobile">
  <div class="card card-fluid ml-0">
    <div class="card-body">
      <pre>
<%= JSON.pretty_generate(@raw_post.attributes) %>
      </pre>
    </div>
  </div>
</div>
