<%
  # app/views/integrations/phone_sites/_overview.html.erb
  #
  # Example:
  #   render partial: 'integrations/phone_sites/overview'
  #
  # Required Instance Variables:
  #   none
  #
  # Required Local Variables:
  #   none
  #
-%>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Overview</h6>

  <%= render partial: 'integrations/common/overview', locals: { integration: 'phone_sites' } %>

  <div class="card-body">
    <div class="form-group">
      <%= pluralize(@user_api_integrations.count, 'API Key', plural: 'API Keys') %>
    </div>
    <div class="form-group">
      <%= pluralize(@user_api_integrations.where('data @> ?', {live: true}.to_json).count, 'Live Website', plural: 'Live Websites') %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.nav-link').removeClass('active');
    $('#link_overview').addClass('active');
    $('#breadcrumb').hide();
  });
</script>
