<%
  # app/views/integrations/dope/v1/_overview.html.erb
  #
  # Example:
  #   render partial: 'integrations/dope/v1/overview', locals: { presenter: Presenter }
  #
  # Required Instance Variables:
  #   @client_api_integrations: (ClientApiIntegrations)
  #
  # Required Local Variables:
  #   none
  #
  presenter = local_assigns.dig(:dope_presenter) || Integrations::Dope::V1::Presenter.new(client_api_integration: @client_api_integration)
-%>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Overview</h6>

  <%= render partial: 'integrations/common/overview', locals: { integration: 'dope_marketing' } %>

  <div class="card-body">

    <div class="section-block">
      <div class="metric-row metric-flush">

      </div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $('.nav-link').removeClass('active');
    $('#link_overview').addClass('active');
    $('#breadcrumb').hide();
  });
</script>
