<%
# app/views/layouts/looper/common/header/_contact_search.html.erb
#
# Example:
#   render partial: 'layouts/looper/common/header/contact_search'
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   none
#
-%>
<form class="top-bar-search">
  <div class="input-group input-group-search dropdown">
    <div class="input-group-prepend">
      <span class="input-group-text"><span class="fa fa-search"></span></span>
    </div><input type="text" class="form-control" data-toggle="dropdown" aria-label="Search" placeholder="Search" autocomplete="off">
    <div class="dropdown-menu dropdown-menu-rich dropdown-menu-xl ml-n4 mw-100">
      <div class="dropdown-arrow ml-3"></div>
      <div class="dropdown-scroll perfect-scrollbar h-auto" style="max-height: 360px">
        <div class="list-group list-group-flush list-group-reflow mb-2">
          <h6 class="list-group-header d-flex justify-content-between">
            <span>Shortcut</span>
          </h6>
          <div class="list-group-item py-2">
            <a href="#" class="stretched-link"></a>
            <div class="tile tile-sm bg-muted">
              <i class="fa fa-user-plus"></i>
            </div>
            <div class="ml-2"> Create user </div>
          </div>
          <div class="list-group-item py-2">
            <a href="#" class="stretched-link"></a>
            <div class="tile tile-sm bg-muted">
              <i class="fa fa-dollar-sign"></i>
            </div>
            <div class="ml-2"> Create invoice </div>
          </div>
          <h6 class="list-group-header d-flex justify-content-between mt-2">
            <span>In projects</span> <a href="#" class="font-weight-normal">Show more</a>
          </h6>
          <div class="list-group-item py-2">
            <a href="#" class="stretched-link"><span class="sr-only">Go to search result</span></a>
            <div class="user-avatar user-avatar-sm bg-muted">
              <!-- <img src="assets/images/avatars/bootstrap.svg" alt=""> -->
            </div>
            <div class="ml-2">
              <div class="mb-n1"> Bootstrap </div><small class="text-muted">Just now</small>
            </div>
          </div>
          <div class="list-group-item py-2">
            <a href="#" class="stretched-link"><span class="sr-only">Go to search result</span></a>
            <div class="user-avatar user-avatar-sm bg-muted">
              <!-- <img src="assets/images/avatars/slack.svg" alt=""> -->
            </div>
            <div class="ml-2">
              <div class="mb-n1"> Slack </div><small class="text-muted">Updated 25 minutes ago</small>
            </div>
          </div>
          <h6 class="list-group-header d-flex justify-content-between mt-2">
            <span>Another section</span> <a href="#" class="font-weight-normal">Show more</a>
          </h6>
          <div class="list-group-item py-2">
            <a href="#" class="stretched-link"><span class="sr-only">Go to search result</span></a>
            <div class="tile tile-sm bg-muted"> P </div>
            <div class="ml-2">
              <div class="mb-n1"> Product name </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="dropdown-footer">Show all results</a>
    </div>
  </div>
</form>
