<%
# app/views/layouts/looper/common/header/_shortcuts.html.erb
#
# Example:
#   render partial: 'layouts/looper/common/header/shortcuts'
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   none
#
-%>
<li class="nav-item dropdown header-nav-dropdown">
  <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-grid-three-up"></span></a>
  <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
    <div class="dropdown-arrow"></div>
    <div class="dropdown-sheets">
      <div class="dropdown-sheet-item">
        <a href="#" class="tile-wrapper"><span class="tile tile-lg bg-indigo"><i class="oi oi-people"></i></span> <span class="tile-peek">Teams</span></a>
      </div>
      <div class="dropdown-sheet-item">
        <a href="#" class="tile-wrapper"><span class="tile tile-lg bg-teal"><i class="oi oi-fork"></i></span> <span class="tile-peek">Projects</span></a>
      </div>
      <div class="dropdown-sheet-item">
        <a href="#" class="tile-wrapper"><span class="tile tile-lg bg-pink"><i class="fa fa-tasks"></i></span> <span class="tile-peek">Tasks</span></a>
      </div>
      <div class="dropdown-sheet-item">
        <a href="#" class="tile-wrapper"><span class="tile tile-lg bg-yellow"><i class="oi oi-fire"></i></span> <span class="tile-peek">Feeds</span></a>
      </div>
      <div class="dropdown-sheet-item">
        <a href="#" class="tile-wrapper"><span class="tile tile-lg bg-cyan"><i class="oi oi-document"></i></span> <span class="tile-peek">Files</span></a>
      </div>
    </div>
  </div>
</li>
