<%
   # app/views/integrations/housecall/webhooks/_technicians.html.erb
   #
   # Example:
   #   render partial: 'integrations/housecall/webhooks/technicians', locals: { presenter: Integrations::Housecall::Presenter }
   #
   # Instance Variables:
   #   none
   #
   # Local Variables:
   #   (req) presenter: (Integrations::Housecall::Presenter)
   #
   return unless local_assigns.dig(:presenter).is_a?(Integrations::Housecall::Presenter)
-%>
<%= bootstrap_select_tag(
      field:        'webhook[criteria][ext_tech_ids]',
      row:          { id: "row_ext_tech_ids_#{presenter.webhook_id}" },
      label:        { title: "Housecall Pro Technicians<span class=\"ml-2\">#{link_to '', integrations_housecall_webhooks_refresh_technicians_path(webhook_id: presenter.webhook_id), { class: 'btn btn-sm btn-icon btn-secondary rotate-right-button fa fa-rotate-right', title: 'Refresh Technicians', data: { toggle: 'tooltip', turbo: true, turbo_stream: true } }}</span>" },
      html_options: { multiple: true },
      options:      { array: presenter.ext_tech_options_for_select, selected: presenter.webhook_ext_tech_ids },
      messages:     { note: 'Event actions will trigger when job or estimate is assigned to any selected technician.' }
    ) %>
