<%
	# app/views/user_contact_forms/v2/modal/_body.html.erb
	# 
	# Example:
	# 	render partial: "user_contact_forms/v2/modal/body"
	# 
	# Required Instance Variables:
	# 	none
	# 
	# Required Local Variables:
	#   none
	# 
-%>
<div class="container" id="tenant-quicklead-container" style="max-width:none;">
	<button id="close-button" style="border:0;position:absolute;top:10px;right:10px;background-color:transparent;">
		<i class="fa fa-times"></i>
	</button>

	<div class="row mt-4">
		<div class="col-10 col-sm-6 col-lg-4 offset-1 offset-sm-3 offset-lg-4 border p-5 rounded" id="tenant-quicklead-form" style="background-color:<%= @user_contact_form.form_bg_color.to_s -%>;border-color:<%= @user_contact_form.form_bg_color.to_s -%>;">
			<%= render partial: "user_contact_forms/v2/shared/form", locals: { rendered_by: "modal" } %>
		</div>
	</div>
</div>
