<%
  # app/views/integrations/contractorcommerce/v1/_overview.html.erb
  #
  # Example:
  #   render partial: 'integrations/contractorcommerce/v1/overview', locals: { presenter: Integrations::Contractorcommerce::V1::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Integrations::Contractorcommerce::V1::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Contractorcommerce::V1::Presenter)
-%>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Overview</h6>

  <%= render partial: 'integrations/common/overview', locals: { integration: 'contractorcommerce' } %>

  <div class="card-body">

    <div class="section-block">
      <div class="metric-row metric-flush">
         <div class="col-4 py-2">
          <%= link_to(edit_integrations_contractorcommerce_v1_connections_path, { class: 'metric metric-bordered align-items-center', id: 'link_connections', data: { turbo: true, turbo_stream: true } }) do %>
            <h2 class="metric-label">Contractor Commerce</h2>
            <p class="metric-value h3">
              <span class="value">
                <% if presenter.valid_credentials? %>
                  <i class="fa fa-link text-success"></i>
                <% else %>
                  <i class="fa fa-link text-danger"></i>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(function() {
    $('.nav-link').removeClass('active');
    $('#link_overview').addClass('active');
    $('#breadcrumb').hide();
  });
</script>
