<%
# app/views/messages/emails/_show_attachment.html.erb
#
# Example:
#   render partial: 'messages/emails/show_attachment', locals: { attachment: ActiveStorage::Attachment }
#
# Required Instance Variables:
#   none
#
# Required Local Variables:
#   attachment: ActiveStorage::Attachment
#
-%>
<% if attachment.content_type[0,5] == 'video' %>
  <figure class="figure">
    <div class="figure-img figure-attachment embed-responsive embed-responsive-16by9">
      <%= link_to cl_image_tag(attachment.key, { class: 'img-fluid', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 200, height: 200, crop: 'fit'], format: 'png' }), '',
                  { class: 'show_image_modal',
                    id:    "image_#{attachment.id}",
                    data:  {
                      imagetype:        'video',
                      imagetag:         cl_video_tag(attachment.key, { class: 'embed-responsive-item', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), controls: true, transformation: [width: 480, height: 360, crop: 'pad', quality: 70], fallback_content: 'Your browser does not support HTML5 video tags.' }),
                      imagefullsizetag: cl_video_tag(attachment.key, { class: 'embed-responsive-item', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), controls: true, fallback_content: 'Your browser does not support HTML5 video tags.' })
                    } } %>
    </div>
  </figure>
<% elsif attachment.content_type[0,5] == 'image' %>
  <figure class="figure">
    <div class="figure-img figure-attachment">
      <%= link_to cl_image_tag(attachment.key, { class: 'img-fluid', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 200, height: 200, crop: 'fit'], format: 'png' }), '',
                  { class: 'show_image_modal',
                    id:    "image_#{attachment.id}",
                    data:  {
                      imagetype:        'image',
                      imagetag:         cl_image_tag(attachment.key, { class: 'img-responsive', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 450, height: 450, crop: 'fit'], format: 'png' }),
                      imagefullsizetag: cl_image_tag(attachment.key, { class: 'img-responsive', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), format: 'jpeg' })
                    } } %>
    </div>
  </figure>
<% else %>
  <figure class="figure">
    <div class="figure-img figure-attachment">
      <%= link_to cl_image_tag(attachment.key, { class: 'img-fluid', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 200, height: 200, crop: 'fit'], format: 'png' }), '',
                  { class: 'show_image_modal',
                    id:    "image_#{attachment.id}",
                    data:  {
                      imagetype:        'image',
                      imagetag:         cl_image_tag(attachment.key, { class: 'img-responsive', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 450, height: 450, crop: 'fit'], format: 'png' }),
                      imagefullsizetag: cl_image_tag(attachment.key, { class: 'img-responsive', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), format: 'png' })
                    } } %>
    </div>
  </figure>
<% end %>
