<%
# app/views/integrations/stripo/templates/_header.html.erb
#
# Example:
#   render partial: 'integrations/stripo/templates/header', locals: {  }
#
# Instance Variables:
#   none
#
# Local Variables:
#   none
#
-%>
<div class="d-flex justify-content-between">
  <span class="my-auto">
    <i class="fa fa-envelope"></i> Select an Email Style
  </span>
  <span class="">
    <a type="button" class="btn btn-light" href="#email_templates_top">
      Scroll to Top
    </a>
  </span>
</div>
