<%
  # app/views/integrations/successware/v202311/employees/_employee.html.erb
  #
  # Example:
  #   render partial: "integrations/successware/v202311/employees/employee", collection: @client_api_integration.employees, as: :employee, locals: { presenter: Integrations::Successware::V202311::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Integrations::Successware::V202311::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Successware::V202311::Presenter)
-%>
<tr>
  <td>
    <%= [employee[:firstName], employee[:lastName]].join(' ') -%> <small>(<%= employee[:employeeCode] -%>)</small><br>
  </td>
  <td>
    <%= bootstrap_select_tag(
          field:    "employees[#{employee[:employeeCode]}]",
          row:      { columns: [0, 12] },
          options:  { for_select: options_from_collection_for_select(presenter.client.users, 'id', 'fullname', presenter.client_api_integration.employees.dig(employee[:employeeCode].to_s)), blank: 'Select a User' },
          messages: { note: "Select a matching #{I18n.t('tenant.name')} User." }
        ) %>
  </td>
</tr>
