<%
  # app/views/integrations/maestro/_roommove_contact.html.erb
  # 
  # Example:
  #   render partial: "integrations/maestro/roommove_contact"
  # 
  # Required Instance Variables:
  #   @client_api_integration: (ClientApiIntegration)
  # 
  # Required Local Variables:
  #   none
  # 
  campaign_id       = @client_api_integration.roommove_contact_actions.include?("campaign_id") ? @client_api_integration.roommove_contact_actions["campaign_id"].to_i : 0
  group             = @client_api_integration.roommove_contact_actions.include?("group_id") ? @client_api_integration.client.groups.find_by_id( @client_api_integration.roommove_contact_actions["group_id"].to_i ) : @client_api_integration.client.groups.new
  stage_id          = @client_api_integration.roommove_contact_actions.include?("stage_id") ? @client_api_integration.roommove_contact_actions["stage_id"].to_i : 0
  tag               = @client_api_integration.roommove_contact_actions.include?("tag_id") ? @client_api_integration.client.tags.find_by_id( @client_api_integration.roommove_contact_actions["tag_id"].to_i ) : @client_api_integration.client.tags.new
  stop_campaign_ids = @client_api_integration.roommove_contact_actions.include?("stop_campaign_ids") ? @client_api_integration.roommove_contact_actions["stop_campaign_ids"] : []

  campaign_id ||= 0
  group         = @client_api_integration.client.groups.new unless group
  stage_id    ||= 0
  tag           = @client_api_integration.client.tags.new unless tag
-%>
<div class="container-body">
  <%= render partial: "layouts/alerts", locals: { models: [@client_api_integration] } %>
  <h4>Maestro Room Move Guest Processes</h4>

  <%= form_tag integrations_maestro_roommove_contact_update_path, { builder: LooperFormBuilder, method: :put, remote: true } do %>

    <fieldset class="border p-2 mb-2">
      <legend class="w-auto mb-0"><h6><i class="fa fa-user-cog"></i> Actions To Run on Room Move</h6></legend>

      <%= render partial: 'campaigns/action_fields', locals: {
            client: @client_api_integration.client,
            campaign_id:, campaign_id_field: 'roommove_contact_actions[campaign_id]',
            group:, group_id_field: 'roommove_contact_actions[group_id]',
            tag:, tag_id_field: 'roommove_contact_actions[tag_id]',
            stage_id:, stage_id_field: 'roommove_contact_actions[stage_id]',
            stop_campaign_ids:, stop_campaign_ids_field: 'roommove_contact_actions[stop_campaign_ids]'
          } %>
    </fieldset>

    <%= submit_tag "Save Room Move Actions", data: { "disable-with": "Saving Room Move Actions..." }, class: 'btn btn-app mt-2' %>
  <% end %>
</div>
