<%
  # app/views/campaigns/index/starting_this_campaign/_stages.html.erb
  #
  # Example:
  #   render partial: 'campaigns/index/starting_this_campaign/stages', locals: { presenter: Campaigns::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Campaigns::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Campaigns::Presenter)

  stage_parents_starting_this_campaign = presenter.stage_parents_starting_this_campaign(presenter.campaign.id)
-%>
<% if stage_parents_starting_this_campaign.present? %>
  <div class="dropdown d-inline-block">
    <button type="button" class="btn btn-sm btn-icon btn-secondary fa fa-project-diagram" data-toggle="dropdown"></button>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-arrow"></div>
      <h6 class="dropdown-header stop-propagation">
        <span>Select a Pipeline</span>
      </h6>
      <div class="dropdown-divider"></div>
      <div class="dropdown-scroll perfect-scrollbar" style="max-height:344px;">

        <% stage_parents_starting_this_campaign.each do |sp| %>
          <%= link_to "<i class=\"fa fa-pencil-alt mr-2\"></i>#{sp.name}".html_safe,
                      edit_client_stage_parent_path(presenter.client.id, sp.id),
                      class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
