<%
	# app/views/system_settings/versions/history.html.erb
	# 
	# Example:
	# 	render partial: 'system_settings/versions/history'
	# 
	# Required Instance Variables:
	# 	none
	# 
	# Required Local Variables:
	#   none
	# 
-%>
<div class="page-inner card-margins-mobile">

  <header class="page-title-bar">
    <h1 class="page-title"> Version History </h1>
  </header>

  <div class="page-section">
    <div class="section-block" id="vhistory">

      <%= render partial: 'system_settings/versions/history_item', collection: @versions, as: :version %>

    </div>
    <p class="text-center" id="vhistory_next">
      <%= link_to '<i class="fa fa-fw fa-angle-double-down mr-2"></i>Load More'.html_safe, system_settings_version_history_path(offset: 10), {
        class: 'btn btn-light',
        remote: true,
        method: :get
      } %>
    </p>
  </div>
</div>
