<%
# app/views/campaigns/groups/_index.html.erb
#
# Example:
#   render partial: 'campaigns/groups/index'
#
# Instance Variables:
#   (req) @campaign_group:  (CampaignGroup)
#   (req) @campaign_groups: (CampaignGroups)
#
# Local Variables:
#   none
#
-%>
<%= form_with model: @campaign_group, builder: LooperFormBuilder, remote: true, html: { class: 'needs-validation', novalidate: true } do |f| %>
  <%= f.text_field :name, {
        label:        { title: 'Campaign Group Name' },
        html_options: { placeholder: 'Group Name', minlength: 2, required: true, autofocus: true },
        appends:      [{ button: true, label: 'Save' }],
        messages:     { note: 'Required. Must be minimum of 2 characters.' }
      } %>
<% end %>

<div class="table-responsive">
  <table class="table">

    <thead>
      <tr>
        <th colspan="3" style="min-width: 240px"> Campaign Group </th>
        <th class="text-left d-none d-md-table-cell"> Created </th>
        <th class="text-center d-none d-md-table-cell"> Marketplace </th>
        <th style="width:150px;min-width:150px;"></th>
      </tr>
    </thead>

    <tbody id="campaign_groups_table_body">
      <%= render partial: 'campaigns/groups/index_body' %>
    </tbody>
  </table>
</div>

<%= render partial: 'snippets/custom_modal', locals: { id: 'campaign_marketplace_modal', max_width: '900px', close: true } %>
